a(href='#', id='button', class='button') Click Me

div(class='bg-modal')
  div(class='modal-content')
    div(class='close') +
    img(src='https://images.unsplash.com/photo-1506500214375-8881f74fec22?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=1be75bd9ee8e9c521dd137a2c39d79ba')
    form
      input(
        type='text'
        placeholder='Name'
      )
      input(
        type='text'
        placeholder='E-mail'
      )
      a(class='button', href='#') Submit